*{
  box-sizing: border-box;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-image: background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-size: 6rem;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 1rem;
}

#key::after {
  content: "  :";
}
